.workBlock{
  display: grid;
  margin: 1rem 0;
  grid-template-columns: 4rem 1fr 4rem;
  grid-template-areas:
  '. workName edit'
  '. workName edit'
  '. title edit'  
  '. title delete'
  '. date delete'
  '. date delete'; 
}

.workName{
  grid-area: workName;
  font-weight: bold;
  text-align: left;
}

.title{
  grid-area: title;
  text-align: left;
}

.workDate{
  grid-area: date;
  text-align: left;
}

.workBlock>button.editButton{
  grid-area: edit;
  align-self: flex-start;
  justify-self: center;
}

.workBlock>button.deleteButton{
  grid-area: delete;
  align-self: flex-end;
  justify-self: center;
}